/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 Aug 2015, 10:17:38 AM
    Author     : EDU
*/
            .left{
                margin-left: 5%;
                //float: left;
               width: 40%;
               height: 100%;
               position:absolute; 
               top: 10px; 
               left: 5px;
               
            }
            .rigt{
                border: solid #cc0000 thin;
                width: 40%;
                float: left;
                text-align: left;
                margin-right: 0%;
                height: 100%;
                visibility: hidden;
                
                
                  
            }
            div{
                margin-left: 5%;
                margin-right: 5%;
                overflow-x: auto;
                white-space: nowrap;
            }
            


