<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/audience?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Mapping/AdminMap.hbm.xml"/>
    <mapping resource="Mapping/AnswersMap.hbm.xml"/>
    <mapping resource="Mapping/BallotMap.hbm.xml"/>
    <mapping resource="Mapping/CandidateMap.hbm.xml"/>
    <mapping resource="Mapping/OneWordMap.hbm.xml"/>
    <mapping resource="Mapping/OpenEndedMap.hbm.xml"/>
    <mapping resource="Mapping/ParticipantMap.hbm.xml"/>
    <mapping resource="Mapping/SessionMap.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
